<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>Flowlist Final v3.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>CE18595F2EB4E01300DBD504</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>CE18596C2EB4E01400DBD504</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>CE1859762EB4E01500DBD504</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
